@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'Risque';
    position: relative;
}

p{
    color: #fff;
    font-weight: normal;
}

a{
    text-decoration: none;
}

h2{
    color: #fff;
    font-weight: normal;
}

.text_center{
    text-align: center;
}

.d_flex{
    display: flex;
}

.d_center{
    justify-content: center;
}

.d_between{
    justify-content: space-between;
}

.direction_column_center{
    flex-direction: column;
    align-items: center;
}

header{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.nav{
    display: flex;
    justify-content: space-between;    
    padding: 43px 49px 0 25px;
}

.nav__navigation{
    width: 633px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav__menu__nav{
    display: flex;
    justify-content: space-between;
    width: 420px;
    list-style: none;
    font-family: 'Roboto';
    font-size: 16px;
}

.nav__menu__nav li a{
    color: #fff;
}

.nav__gumburger__item{
    display: block;
    background-color: #fff;
    height: 3.67px;
    width: 34px;
    position: relative;
}

.nav__gumburger__item.active{
    background: none;
}

.nav__gumburger__item::after{
    content: '';    
    background-color: #fff;
    height: 3.67px;
    width: 34px;
    position: absolute;
    top: 10px;
    transition: top 1s;
}

.nav__gumburger__item.active::after{
    top: 0;
    transform: rotate(45deg);
    transition: transform 1s;
}

.nav__gumburger__item.active::before{
    bottom: 0;
    transform: rotate(-45deg);
    transition: transform 1s;
}

.nav__gumburger__item::before{
    content: '';    
    background-color: #fff;
    height: 3.67px;
    width: 34px;
    position: absolute;
    bottom: 10px;
    transition: bottom 1s;
}

.nav__gumburger{
    background-color: #D02B2B;    
    border-radius: 100px 100px 100px;
    border-top-right-radius: 0;
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 60;
}



.mobile-menu{
    position: fixed;
    background-color: #D02B2B;
    right: -630px;
    transition: right 2s;
    width: 630px;
    height: 727px;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;   
}

.mobile-menu.active{
    right: 0;
    transition: right 2s;
}

.mobile-menu__nav{
    list-style: none;
    font-size: 32px;    
}

.mobile-menu__nav li{
    padding-bottom: 32px;
}

.mobile-menu__nav li a{
    color: #fff;    
}

.nav__gumburger .container{
    /* height: 23px; */
}

.main-section{
    background-color: #141429;
    padding: 256px 0 0 0;
    /* position: relative; */
}

.main-section__content{
    padding-left: 148px;
    background-image: url(img/dedcoca-main.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 283px;
    background-size: contain;
    position: relative;
    z-index: 40;
}

.main-section__title{
    color: #fff;
    font-size: 72px;
    font-weight: 400;
    line-height: 60px;
}

.main-section__text{
    font-size: 28px;
    padding-bottom: 43px;
}

.main-section__button{
    font-size: 16px;
    color: #fff;
    display: inline-block;
    padding: 8px 46px;
    border: 2px solid #FFFFFF;
    border-radius:  20px 20px 20px 0px;
}

.main-section__button:hover{
    background-color: #fff;
    color: rgba(0,0,0,0);
    color:#141429;
}

.main-section__img{
    position: relative;
}

.main-section__img p{
    position: absolute;
    background-image: url(img/cloud.png);
    color: #000;
    bottom: 163px;
    right: 436px;
    padding: 71px 42px 0 46px;
    background-repeat: no-repeat;
    width: 265px;
    height: 194px;
    font-size: 18px;
    line-height: 20px;
    animation: showDiv 3s forwards;
    opacity: 0;
}

@keyframes showDiv {
    0%, 99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.main-section__button_position{
    text-align: left;
}

.main-section__decor,
.main-section__arrow{
    position: relative;
}

.main-section__flake{
    position: absolute;
    bottom: -38px;
    left: -222px;
    animation: moving 60s infinite linear;
}

.main-section__arrow img{
    position: absolute;
    top: -80px;
    left: 152px;
}

.present{
    background-image: url(img/bg-present.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.present__content{
    
    padding-top: 94px;
    padding: 220px 31px 0 116px;
    
    display: flex;
    justify-content: space-between;
    padding: 158px 38px 102px 66px;
    flex-wrap: wrap;
}

.present__title{
    font-size: 56px;
    line-height: 60px;
    color: #fff;
    font-weight: normal;
    width: 700px;
    padding-bottom: 30px;
}

.present__choose-present p{
    font-weight: normal;
    font-size: 38px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.present__choose-present{
    padding-top: 30px;
}

.present__items{
    display: flex;
    justify-content: space-between;
    padding-bottom: 74px;
    width: 520px;
}

.present__item{
    width: 150px;
    height: 150px;
    border: 5px solid #FFFFFF;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.present__item .img{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.present__item:first-child .img{
    background-image: url(img/present-item-1.png);
}

.present__item:nth-child(2) .img{
    background-image: url(img/present-item-2.png);
}

.present__item:last-child .img{
    background-image: url(img/present-item-3.png);
}

.present__item.active{
    background: none;
}

.present__description{
    display: none;
}

.present__description.active{
    display: flex;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    padding: 58px 38px 38px 35px;
    flex-wrap: wrap;
}

.present__description__content.active{
    display: block;
}

.present__description_position{
    flex-direction: column;
    align-items: flex-start;
}

.present__description__text{
    font-size: 28px;
    font-family: 'Roboto';
    width: 300px;    
}

.present__name{
    font-size: 42px;
    padding-bottom: 29px;
}

.present__description .container:first-child{
    order: 2;
}

.present_img_position{
    align-items: center;
}

.contact__content{
    background-image: url(img/bg-contact-decstop.png);
    padding: 200px 0 200px 71px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';
}

.contact__title{
    font-size: 56px;
}

.contact__form{
    width: 468px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.contact__form input,
.contact__form select{
    width: 220px;
    margin-bottom: 25px;
        border: 3px solid #FFFFFF;
        border-radius: 15px;
        background: none;
        padding: 10.5px 0 10.5px 26px;
        color: #fff;
        font-family: 'Roboto';
}

.contact__form input::placeholder,
.contact__form textarea::placeholder{
    color: #fff;
    font-family: 'Roboto';
}

.contact__form textarea{
    width: 100%;
     background: none;
     border: 3px solid #FFFFFF;
     border-radius: 15px;
     padding: 10.5px 0 10.5px 26px;
     color: #fff;
     font-family: 'Roboto';
     margin-bottom: 18px;
     height: 76px;
 }

 .check-box-style{
    position: relative;
}

.check-box-style input{
    position: absolute;
    left: 0;
    opacity: 0;
}

.check{
    left: 5px;
    bottom: 15px;
    position: absolute;
    display: none;
}

.check-box-style .check__item{
    width: 11px;
    height: 3px;
    background-color: #D02B2B;
    display: block;
    transform: rotate(-46deg);
    position: relative;
   
}

.check-box-style .check__item::after{
    content: ' ';
    width: 5px;
    height: 3px;
    position: absolute;
    background: #D02B2B;
    top: -2px;
    left: -1px;
    transform: rotate(-85deg);
}

.check-box-style input:checked + .check{
    display: block;
}

.check-box-style > .text{
    color: #D02B2B ;
}

label[for="check"]::before{
    content: " "; 
    margin-right: 7px;
    position: relative;
    width: 20px;
    height: 20px;
    background: none;
    border: 2px solid #D02B2B;
    display: inline-block;    
}

.check-box{
    display: flex;
}

.check-box p{
    display: inline-block;
    color: #D02B2B;
}

select[name="Gender"] option{
    color:#D02B2B;
}


@keyframes moving {
    100% {transform: rotate(-360deg);}
}

@media (max-width:780px){
    .nav__menu{
        display: none;
    }

    .nav__navigation{
        width: inherit;
    }

    .present__title{
        width: 100%;
    }

    .main-section__decor{
        display: none;
    }

    .main-section__arrow{
        display: none;
    }
}

@media (max-width: 1024px){
    .main-section__img{
        display: none;
    }
}

